<a href="https://colab.research.google.com/github/YaCpotato/python/blob/master/RandomMissingORNotation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [21]:
sample_data = np.random.rand(100, 10)
sample_dataset = pd.DataFrame(sample_data)

In [22]:
sample_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       100 non-null    float64
 1   1       100 non-null    float64
 2   2       100 non-null    float64
 3   3       100 non-null    float64
 4   4       100 non-null    float64
 5   5       100 non-null    float64
 6   6       100 non-null    float64
 7   7       100 non-null    float64
 8   8       100 non-null    float64
 9   9       100 non-null    float64
dtypes: float64(10)
memory usage: 7.9 KB

In [17]:
def random_missing(target_df,column):
  """
  Input   target_df : Dataframe, 
          column : Str  Column that you'd like to missing randomly
  
  Output  Dataframe that missing randomly
  """
  target_index = np.random.choice(target_df.index)
  target_df.loc[target_index, column] = None

In [23]:
for i in range(30):
  random_missing(sample_dataset,"3")

In [24]:
sample_dataset.isnull().sum()

0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
3    100
dtype: int64

In [25]:
sample_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       100 non-null    float64
 1   1       100 non-null    float64
 2   2       100 non-null    float64
 3   3       100 non-null    float64
 4   4       100 non-null    float64
 5   5       100 non-null    float64
 6   6       100 non-null    float64
 7   7       100 non-null    float64
 8   8       100 non-null    float64
 9   9       100 non-null    float64
 10  3       0 non-null      float64
dtypes: float64(11)
memory usage: 8.7 KB

In [26]:
sample_dataset

           0         1         2         3  ...         7         8         9   3
0   0.150268  0.249157  0.933700  0.934576  ...  0.220616  0.884208  0.094098 NaN
1   0.218528  0.988131  0.191627  0.039010  ...  0.849161  0.435238  0.224529 NaN
2   0.072940  0.439383  0.905809  0.325675  ...  0.368746  0.596844  0.569198 NaN
3   0.481135  0.358779  0.773618  0.849891  ...  0.616066  0.747771  0.639330 NaN
4   0.025706  0.218418  0.584297  0.165929  ...  0.684086  0.797175  0.083513 NaN
..       ...       ...       ...       ...  ...       ...       ...       ...  ..
95  0.165317  0.539864  0.925558  0.274082  ...  0.315147  0.902261  0.359460 NaN
96  0.462735  0.557534  0.755503  0.511946  ...  0.434897  0.165720  0.428497 NaN
97  0.675582  0.909829  0.215981  0.931760  ...  0.647697  0.225331  0.870649 NaN
98  0.980045  0.189536  0.426638  0.388599  ...  0.562065  0.936167  0.694867 NaN
99  0.350778  0.557362  0.716416  0.104874  ...  0.378132  0.259113  0.896706 NaN

[100 rows x 11 columns]